################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/examples/01 - coarse grained unit tests/.vs/Example.CoarseGrainedUTest/v15/Server/sqlite3
/examples/01 - coarse grained unit tests/Example.CoarseGrainedUTest/obj
/examples/01 - coarse grained unit tests/Example.CoarseGrainedUTest.Tests/obj
/examples/01 - coarse grained unit tests/Example.CoarseGrainedUTest.Tests/bin/Debug/netcoreapp2.0
/examples/01 - coarse grained unit tests/Example.CoarseGrainedUTest/bin/Debug/netstandard2.0
/examples/02 - in-memory dependencies/.vs/Example.InMemoryDependencies/v15/Server/sqlite3
/examples/02 - in-memory dependencies/Example.InMemoryDependencies/bin/Debug/netcoreapp2.0
/examples/02 - in-memory dependencies/Example.InMemoryDependencies/obj
/examples/Example.InMemoryDependencies.Tests/bin/Debug/netcoreapp2.0
/examples/Example.InMemoryDependencies.Tests/obj
/examples/02 - in-memory dependencies/Example.InMemoryDependencies.Tests/bin/Debug/netcoreapp2.0
/examples/02 - in-memory dependencies/Example.InMemoryDependencies.Tests/obj
examples/03 - local headless + json server/node_modules/
examples/03 - local-headless json-server/node_modules/
examples/03 - local-headless json-server/src/bundle*
examples/04 - testing-scenarios/.vs/
examples/04 - testing-scenarios/Example.ScenarioTesting.Tests/bin/
examples/04 - testing-scenarios/Example.ScenarioTesting.Tests/obj/
