################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/**/.vs
**/**/bin
**/**/obj
**/**/node_modules
examples/03 - local-headless json-server/src/bundle*
/examples/02 - in-memory dependencies/Example.InMemoryDependencies/Properties/launchSettings.json
